<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my.css') }}"/>
    <meta charset="UTF-8">
    <title></title>
</head>
<body class="llama-mode container" >
 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mighty awesome game chooser</a>
            </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="#mygames"> My games</a></li>
                <li class="active"><a href="#">About</a></li>


            </ul>
          </div>
        </div>


    </div>
<h1>This page was created by rabid llamas</h1>
<h2>Chief llama wrangler</h2>
Juan Lomax
<h2>Llama feeder</h2>
Jørn Gonzales
<h2>Llama standing in the corner looking sheepish</h2>
Gonzales Gonzales
</body>
</html>